{% extends 'site/base.html' %}
{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block content %}
{% include 'site/partials/page_hero.html' with title=page.title subtitle=page.intro|richtext %}
<section class="section pt-4 pb-12">
  <div class="container">
    <div class="lg:col-8 mx-auto">{{ page.body|richtext }}</div>
    {% if page.content_blocks %}
    <div class="mt-10 space-y-8">
      {% include 'website/partials/content_blocks.html' with content_blocks=page.content_blocks %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
